<h1>{{ title }}</h1>
<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Numero da Prancha</mat-label>
    <input matInput type="number" [(ngModel)]="pranchaPassar.numero" name="numero" required>
  </mat-form-field>

 <mat-form-field>
    <mat-label>Modelo</mat-label>
    <input matInput type="string" [(ngModel)]="pranchaPassar.modelo" name="modelo" required>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
        <button mat-raised-button type="submit" color="accent">
            Salvar
        </button>
        <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
        </button>
    </mat-toolbar-row>
</mat-toolbar>
</form>
