<h1>Detalhes do pedido</h1>

<mat-toolbar class="new-item">
    <a mat-raised-button collor="accent" [routerLink]="['/pedido/novo']">
        <mat-icon>add_circle</mat-icon>
        Novo pedido
    </a>
</mat-toolbar>

<table mat-table [dataSource]="pedidos" class="mat-elevation-z4">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Numero Column -->
  <ng-container matColumnDef="num_pedido">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Número </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.num_pedido }} </td>
  </ng-container>

  <!-- Pecas Column -->
  <ng-container matColumnDef="qtd_pecas">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Peças </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.qtd_pecas }} </td>
  </ng-container>

   <!-- DataColeta Column -->
  <ng-container matColumnDef="data_coleta">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Data da coleta </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.data_coleta | date:'dd/MM/yyyy' }} </td>
  </ng-container>

 <!-- DataEntrega Column -->
  <ng-container matColumnDef="data_entrega">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Data da entrega </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.data_entrega | date:'dd/MM/yyyy'}} </td>
  </ng-container>

<!-- HorarioColeta Column -->
  <ng-container matColumnDef="horario_coleta">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Horário da coleta </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.horario_coleta }} </td>
  </ng-container>

<!-- HorarioEntrega Column -->
  <ng-container matColumnDef="horario_entrega">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Horário da entrega </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.horario_entrega }} </td>
  </ng-container>

<!-- Cliente Column -->
  <ng-container matColumnDef="cliente">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Cliente </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.cliente?.nome }} </td>
  </ng-container>

<!-- Entregador Column -->
  <ng-container matColumnDef="entregador">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Entregador </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.entregador?.nome }} </td>
  </ng-container>

<!-- Lavador Column -->
  <ng-container matColumnDef="lavador">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Lavador </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.lavador?.nome }} </td>
  </ng-container>

<!-- MaquinaLavar Column -->
  <ng-container matColumnDef="maquina_lavar">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Maquina de Lavar </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.maquina_lavar?.numero }} </td>
  </ng-container>

<!-- PranchaPassar Column -->
  <ng-container matColumnDef="prancha_passar">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Prancha de Passar </th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido"> {{ pedido.prancha_passar?.numero }} </td>
  </ng-container>

<!-- Editar Column -->
  <ng-container matColumnDef="editar">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef>Editar</th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido">
        <a mat-raised-button color="accent" title="Editar" 
            [routerLink]="['/pedido', pedido._id]">
            <mat-icon>edit</mat-icon>
        </a>
    </td>
  </ng-container>

<!-- Excluir Column -->
  <ng-container matColumnDef="excluir">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef>Excluir</th>
    <td mat-cell class="cell-align-center" *matCellDef="let pedido">
        <button mat-raised-button color="warn" title="Excluir" (click)="excluir(pedido._id)">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
