<table mat-table [dataSource]="pedidos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Numero Column -->
  <ng-container matColumnDef="num_pedido">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.numero }} </td>
  </ng-container>

  <!-- Pecas Column -->
  <ng-container matColumnDef="qtd_pecas">
    <th mat-header-cell *matHeaderCellDef> Peças </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.qtd_pecas }} </td>
  </ng-container>

   <!-- Coleta Column -->
  <ng-container matColumnDef="data_coleta">
    <th mat-header-cell *matHeaderCellDef> Coleta </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.data_coleta }} </td>
  </ng-container>

 <!-- Entrega Column -->
  <ng-container matColumnDef="data_entrega">
    <th mat-header-cell *matHeaderCellDef> Entrega </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.data_entrega }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
